.bot-w-16 {
    width: 4rem; 
  }
  .bot-h-16 {
    height: 4rem; 
  }
  .bot-rounded-full {
    border-radius: 9999px; 
  }
  .bot-justify-center {
    justify-content: center;
  }
  
  .bot-cursor-pointer {
    cursor: pointer; 
  }
  
  .bot-text-3xl {
    font-size: 1.875rem;
  }  
  #chat-widget-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    flex-direction: column;
  }
  #chat-popup {
    height: 70vh;
    max-height: 70vh;
    transition: all 0.3s;
    overflow: hidden;
  }
  @media (max-width: 768px) {
    #chat-popup {
      position: fixed;
      top: 10;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 90%;
      max-height: 90%;
      border-radius: 0;
    }
  }
  .bot-w-10 {
    width: 2.5rem; 
  }
  
  .bot-h-10 {
    height: 2.5rem; 
  }  
  .bot-absolute {
    position: absolute; 
  }
  .bot-right-0 {
    right: 0; 
  }
  
  .bot-w-96 {
    width: 24rem; 
  }
  .bot-flex-col {
    flex-direction: column;
  }
  .bot-transition-all {
    transition-property: all; 
  }
  .bot-text-sm {
    font-size: 0.875rem; 
  }
  .bot-bottom-20 {
    bottom: 5rem;
  }
  .bot-bg-white {
    background-color: #ffffff; 
  }
  .bot-shadow-md {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }
  .bot-flex-col {
    flex-direction: column; 
  }
  .bot-justify-between {
    justify-content: space-between; 
  }
  .bot-items-center {
    align-items: center; 
  }
  .bot-p-4 {
    padding: 1rem; 
  }
  .bot-rounded-t-md {
    border-top-left-radius: 0.375rem; 
    border-top-right-radius: 0.375rem;
  }
  .bot-bg-transparent {
    background-color: transparent; 
  }
  .bot-border-none {
    border: none; 
  }
  .bot-flex-1 {
    flex: 1; 
  }
  .bot-border {
    border-width: 1px; 
  }
  .bot-border-gray-300 {
    border-color: #9f4923; 
  }
  .bot-outline-none {
    outline: none; 
  }
  .bot-overflow-y-auto {
    overflow-y: auto; 
  }
  .bot-border-t {
    border-top-width: 1px; 
    border-color: #9f4923; 
  }
  .bot-border-gray-200 {
    border-color: #9f4923; 
  }
  .bot-hidden {
    visibility: hidden;
  }
  .bot-space-x-4 {
    margin-right: 1rem; 
  }
  .bot-text-center {
    text-align: center; 
  }
  
  .bot-text-xs {
    font-size: 0.75rem; 
  }
  
  .bot-pt-4 {
    padding-top: 1rem; 
  }
  .bot-rounded-md {
    border-radius: 0.375rem; 
  }
  .bot-py-2 {
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
  }
  .bot-bg-gray-200 {
    background-color: #d76227; 
  }
  
  .bot-text-black {
    color: #000000; 
  }
  
  .bot-rounded-lg {
    border-radius: 0.5rem; 
  }
  
  .bot-px-4 {
    padding-left: 1rem; 
    padding-right: 1rem;
  }
  .bot-px-2 {
    padding-left: 0.5rem; 
    padding-right: 0.5rem;
  }
  .bot-max-w-[70%] {
    max-width: 70%; 
  }
  .bot-bg-gray-800 {
    background-color: #9f4923; 
  }
  .bot-text-white {
    color: #ffffff; 
  }
  .bot-flex {
    display: flex; 
  }
  .bot-justify-end {
    justify-content: flex-end; 
  }
  .bot-mb-3 {
    margin-bottom: 0.75rem; 
  }
  .bot-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #9f4923;
    border-radius: 8px;
    text-align: center;
  }
  .bot-card img {
      width: 100%;
      height: auto;
      margin-bottom: 15px;
  }
  .bot-actions a {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      font-weight: bold;
  }
  .bot-carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
  }
  .bot-carousel-container {
    display: flex;
    transition: transform 0.5s ease;
  }
  .bot-slide {
    min-width: 100%;
    display: none;
  }
  .bot-slide img {
    width: 100%;
    height: auto;
  }
  .bot-slide:first-child {
    display: block;
  }
  .bot-prev,
  .bot-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  .bot-prev {
    left: 0;
  }

  .bot-next {
    right: 0;
  }
  a {
    text-decoration: none;
  }